.dashboard_products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .table-img{
    width: 100px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  &__pagination {
    margin-top: 20px;
  }

  .input-group {
    width: 400px;
    margin-bottom: 20px;
    display: flex;
    align-items: normal;
    gap: 10px;

    .search-input {
      width: 100%;
    }
  }
}