.dashboard_products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0;

  .table-img{
    width: 100px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  &__pagination {
    margin-top: 20px;
  }

  .input-group {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 350px 150px;
    align-items: normal;
    gap: 10px;

    .search-input {
      width: 100%;
    }
  }
}