.modal-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
}

.modal-accounting {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .accounting__form_input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
}