.create-product-page {


  .category-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;

    p {
      font-size: 26px;
      margin-bottom: 10px;

      b {
        font-size: 32px;
      }
    }
  }
}