.custom-select {
  width: 100%;
  position: relative;
  border: 1px solid #ababab;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_label {
    height: 100%;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;

    p {
      margin: 0;
    }
  }

  &_options {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 99;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ababab;
    overflow: hidden;

    &-head {
      height: 40px;
      border-bottom: 1px solid #afafaf;

      input {
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    &-items {
      margin-top: 10px;
      height: 160px;
      overflow-x: auto;
      .custom-select-item {
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        p {
          font-size: 22px;
          margin-bottom: 0;
        }
        &:hover {
          background: gray;
        }
      }
    }
  }
}