@import "styles/variations";

.location-block {
  height: 40px;
  max-height: 40px;
  background: #f23428;

  &__contain {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-content: center;

    .loc-popup {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        p {
          color: #000;
        }

        svg {
          fill: #000;
        }
      }

      svg {
        width: 25px;

        fill: #ffffff;
      }

      p {
        font-size: 16px;
        line-height: 16px;
        margin-left: 5px;
        color: #ffffff;
        font-family: 'Cera Pro', sans-serif;
        font-weight: 400;
      }
    }
  }
}

