.home {

  &-slider {
    width: 1920px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;

    h2 {
      font-family: 'Cera Pro', sans-serif;
      font-size: 48px;
      font-weight: 700;
      color: #fff;
    }
  }
}