@import "styles/variations";

.nav-bar {
  background: $bg-red;
  display: flex;
  align-items:  center;
  height: 104px;
  border-bottom: 1px solid #ededed;

  &__contain {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;

    .nav-bar__logo {
      img {
        width: 200px;
      }
    }

    .nav-bar__menu {
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 28px;
      border: 2px solid #fff;
      padding: 10px 20px;

      .button {
        padding: 0 0 0 10px;
        font-size: 18px;
      }
    }

  }

}