@import './fonts';
@import "components/buttons/styles";
@import "layout/location/styles";
@import "layout/nav-bar/styles";
@import "components/burger/styles";
@import "pages/auth/styles";
@import "pages/dashboard/styles";
@import "layout/dashboard-products/styles";
@import "components/table/styles";
@import "components/table/tableRow/styles";
@import "components/cicleColor/styles";
@import "layout/randomaze-block/styles";
@import "pages/styles";
@import "layout/home-slider/styles";
@import "layout/home-category/styles";
@import "pages/dashboard/create-product/styles";
@import "layout/create-page/create-form/styles";

body {
  margin: 0;
  background-color: #ffffff;
  color: #333;
}

button {
  border: none;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  //max-width: 1140px;
  max-width: calc(1780px + 20px * 2);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  //padding: 0 15px;
  position: relative;
}

